.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    width: 100%;
    margin: 5rem 0;
}

.box {
    background: var(--component-bg);
    border-radius: 4px;
    min-height: 600px;

    display: flex;
    flex-direction: column;

    padding: 2rem;

    box-shadow: var(--box-shadow);

    h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

.listings {
    margin-top: 2rem;
}

.mainBox {
    grid-column: span 8;
}

.sideBox {
    grid-column: span 4;
}
