/* GLOBAL VARIABLES */
:root {
    // Global colors
    --background: #f8f9fa;

    // Components
    --component-bg: #ffffff;
    --button-weight: var(--font-semibold);
    --box-radius: 4px;

    // Text colors
    --text-900: #0f2338;
    --text-800: #0f23384b;

    // Brand colors
    --brand-900: #4c68f6;

    // Font weights
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    // Breakpoints
    --br-sm: 30em;
    --br-md: 48em;
    --br-lg: 62em;
    --br-xl: 80em;
    --br-2xl: 96em;

    --box-shadow: 0px 195px 78px rgba(38, 45, 52, 0.02), 0px 110px 66px rgba(38, 45, 52, 0.08),
        0px 49px 49px rgba(38, 45, 52, 0.13), 0px 12px 16px rgba(38, 45, 52, 0.15),
        0px 0px 0px rgba(38, 45, 52, 0.15);
}

html,
body {
    padding: 0;
    margin: 0;

    font-weight: 400;

    background: var(--background);
    color: var(--text-900);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
