.hero {
    width: 100%;

    background: var(--brand-900);
    color: var(--background);

    margin-top: 72px;
    padding: 3rem 0 4rem;

    h1 {
        font-size: 4rem;

        font-weight: 400;
        b {
            font-weight: 500;
        }
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    div > div {
        display: flex;
        flex-direction: row;

        svg {
            width: 100%;
        }
    }

    div > div > div {
        display: flex;
        flex-direction: column;

        span {
            font-size: 1.25rem;
        }
    }
}

.center {
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 10vw;
    }
}
@media screen and (max-width: 992px) {
    .hero {
        div svg {
            display: none;
        }
    }
}
