.offerListing {
    display: flex;

    flex-direction: row;
    gap: 1rem;

    align-items: center;
    justify-content: space-between;

    height: 8rem;
    width: 100%;
    max-width: 100%;

    background: var(--component-bg);

    border-radius: 4px;

    padding: 1rem 2rem;

    box-shadow: var(--box-shadow);

    flex-basis: 100%;
}

.userOfferListing {
    @extend .offerListing;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.offerDesc {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 55%;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        b {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    img {
        border-radius: 4px;
        width: 96px;
        height: 96px;
        object-fit: contain;
    }
}

.offerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 45%;
}

.price {
    font-size: 1.25rem;
    font-weight: 500;
    line-break: anywhere;
}

@media screen and (max-width: 768px) {
    .offerListing {
        flex-direction: column;
        height: auto;
    }

    .offerDesc {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            align-items: center;
            gap: 0.5rem;
        }
    }

    .offerRight {
        flex-direction: column;
        gap: 1rem;
    }
}
