.searchBox {
    display: flex;

    flex-direction: row;
    gap: 1rem;

    width: 100%;

    border-radius: 4px;

    padding: 1.5rem 1.25rem;

    background: var(--component-bg);

    form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }

    input {
        flex: 1;
        font-size: 1.25rem;
        padding: 0.5rem;

        max-width: 100%;

        border: none;

        color: var(--text-900);

        &:focus {
            outline-color: rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (max-width: 480px) {
    .searchBox {
        flex-direction: column !important;
    }
}
